
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    color: #8d2ea0;
    font-weight: bolder;
}
.navbar-default{
  background-color: #6a0080;
  border-color: #6a0080;
}
.wrapper{
  background: #9c27b0;
}
.fc-event{
    cursor: pointer;
}

.sidebar ul li a.active {
    background-color: #d05ce3;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #d05ce3;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.nav li a,.nav li a:hover, .nav li a:focus,.dropdown-user>li>a{
  color: white;
}
.sidebar ul li {
    border-bottom: 1px solid #9c27b0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #d05ce3;
    border-color: #d05ce3;
}
.navbar-top-links .dropdown-user{
  background: #d05ce3;
  border-color: #d05ce3;
  color:white;
  margin: 0px;
  border-radius: 0px;
}
.dropdown-menu .divider{
  background-color: #d05ce3;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.btn-primary ,.btn-primary:hover,.btn-primary:focus,.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    color: #fff;
    background-color: #d05ce3;
    border-color: #d05ce3;
}
.panel-default {
    border-color: #9c27b0;
}
html,
body,
#pageID {
  height: 100%;
  margin: 0;
  padding: 0;
  color:#757575;
}

.parking{
  background: url(https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.15752-9/36542638_2279620625387690_8963740164299948032_n.jpg?_nc_cat=0&oh=a98496edbbd913bc7cf8c78593100118&oe=5BA0626D);
  height: 100%;
  background-attachment: fixed;
  background-size: contain;
}
.parking:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.2);
  z-index: 1;
  transition: all .2s ease-in-out;

}
.report{
  background: url(https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.15752-9/36534366_2279620692054350_3857551737627869184_n.jpg?_nc_cat=0&oh=0eac76afe7dc80828d1b6643b795ea2b&oe=5BDC1F1C);
min-height: 100%;  background-position: bottom left 205px;
  background-attachment: fixed;
}
.report:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
  z-index: 1;
  transition: all .2s ease-in-out;

}
.reportOut{
  background: url(https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.15752-9/36611257_2279620035387749_1988304240090546176_n.jpg?_nc_cat=0&oh=20a41567722e1b488a4da3ca04a5267e&oe=5BD7640F);
min-height: 100%;  background-attachment: fixed;
  background-position: bottom left -300px;
}
.reportOut:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
  z-index: 1;
  transition: all .2s ease-in-out;
}
@media(max-width:767px){
  .reportOut,.parking,.report{
    background-size: cover;
    background-position: center;
  }

}
.no-padding{
  padding: 0px;
}
.centerContent{
  position: absolute; right: 0; left: 0; top: 175px;
  color: white;
  z-index: 2;
  transition: all .2s ease-in-out;
  transform: scale(.9);
}
.centerContent center h1{
  font-size: 32px;
}
.centerContentBig{
  transform: scale(1);
}
.containerBig:after{
  background:rgba(0,0,0,0.4);
  z-index: 1;
}
.containerFull{
  height: 95%;
}
#edit-location, #edit-location:hover, #edit-location:focus{
  color: #9c27b0;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #c351d7;
    color: white !important;
}
.table-hover>tbody>tr:hover>td>b>a, .table-hover>tbody>tr:hover>th>b>a {
    color: white !important;
    text-decoration: underline;
}
.modal-header{
  padding-bottom: 0px;
}
.modal-title{
  font-weight: bolder;
  font-size: 25px;
}
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
@media(min-width:1024px){
  .leftParking{
    border-left: 2px solid white;
  }
}
@media(max-width:768px){
  .leftParking h1{
    font-size:40px !important;
  }
  .h1Parking{
    font-size:30px !important;
  }
  .responsiveTotal{
    padding-top:20px;
  }
}
@media(max-width:500px){
  .leftParking h1{
    font-size:30px !important;
  }
  .leftParking h1 b{
    font-size:20px !important;
  }
  .h1Parking{
    font-size:25px !important;
  }
}

.footer {
   left: 0;
   bottom: 0;
   position: absolute;
   width: 100%;
   background-color: #D1C4E9;
   color: #333;
   text-align: center;
}
.footer p{
      margin: 20px;
}
.footer2 {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #D1C4E9;
   color: #333;
   text-align: center;
   margin-top: 15px;
}
.footer2 p{
      margin: 0px;
      padding:20px;
}
