.row{
  margin-top:40px;
  padding: 0 10px;
}
.clickable{
  cursor: pointer;
}

.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}
.panel-body1{
display: none;
}
.filterDisplayed{
  display: block;
  transition: 2s;

}
@media(min-width:768px){
  .modal-lg-dialog{
    width: 900px !important;
  }
}
