body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009688;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
    background: #00ac98;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar{
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color:#fff;
}
.navbar-inverse .navbar-nav>li>a{
  color: #fff;
}
.navbar-inverse .navbar-brand{
  color: #fff;
}

.panel-default>.panel-heading {
    color: #000000;
    font-size: 15px;
    background-color: #fff;
    border-color: #d3e0e9;
    font-weight: bold;
}
.panel{
  margin: 15px;
}

th{
  color: 	#000;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.valign-middle {
  vertical-align: middle !important;
}

@media screen and (max-width: 767px) {
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tfoot,
  .table-responsive tr,
  .table-responsive th,
  .table-responsive td {
    display: block;
  }
  .table-responsive thead {
    display: none;
  }
  .table-responsive .align-center,
  .table-responsive .align-right {
    text-align: inherit;
  }
  .table-responsive tr {
    border-top: 1px solid #ddd;
  }
  .table-responsive tr:first-child {
    border: 0;
  }
  .table-responsive > tbody > tr > td {
    padding-left: 50%;
    border-top-color: rgba(221, 221, 221, 0.5);
  }
  .table-responsive > tbody > tr > td:first-child {
    border: 0;
  }
  .table-responsive [data-label] {
    position: relative;
  }
  .table-responsive [data-label]:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    content: attr(data-label);
    font-weight: bold;
  }

  .navbar-fixed-top.visible-xs + .row {
    padding-top: 60px;
  }

  .btn .visible-xs {
    display: inline-block !important;
  }

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.no-padding{
  padding: 0px;
}

.grid {
  max-width: inherit;
}

.input-group{
      padding-bottom: 10px !important;
}

body  {
     display:  felx;
     -webkit-box-orient:  vertical;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  column;
     flex-direction:  column;
 }


.wrapper  {
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
 }

body > p  {
     font-family:  "Satellite",  "Roboto",  sans-serif;
     font-size:  20px;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     margin:  20px 40px;
     text-align:  justify;
 }


.calendar  {
     width:  800px;
     height:  800px;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  vertical;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  column;
     flex-direction:  column;
     font-family:  "Satellite",  "Roboto",  sans-serif;
     border:  1px solid rgba(21,  21,  21,  0.12);
     -webkit-transform:  scale(1);
     transform:  scale(1);
     box-shadow:  0px 0px 4px rgba(21,  21,  21,  0.21);
     -ms-user-select:  none;
     user-select:  none;
     -moz-user-select:  none;
     -khtml-user-select:  none;
     -webkit-user-select:  none;
     -o-user-select:  none;
 }
 .calendar.small  {
     width:  400px;
     height:  400px;
 }
 .calendar.medium  {
     width:  600px;
     height:  600px;
 }
 .calendar.large  {
     width:  800px;
     height:  800px;
 }
 .year  {
     width:  calc(100% - 10px);
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     padding:  5px;
     font-size:  14px;
 }
 .year > span  {
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     text-transform:  uppercase;
 }
 .year > div  {
     cursor:  pointer;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
 }
 .month  {
     width:  calc(100% - 10px);
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     padding:  20px 5px;
     font-size:  40px;
     box-shadow:  0px 2px 6px rgba(21,  21,  21,  0.21);
 }
 .month > span  {
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     text-transform:  uppercase;
 }
 .month > div  {
     cursor:  pointer;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
 }
 .labels  {
     width:  100%;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
 }
 .labels > span  {
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     font-size:  12px;
     text-transform:  uppercase;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     padding:  10px;
 }
 .days  {
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  vertical;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  column;
     flex-direction:  column;
     box-shadow:  0px 2px 6px -2px rgba(21,  21,  21,  0.21);
 }
 .row  {
     width:  100%;
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
 }
 .day  {
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     padding:  5px;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
     border-bottom:  1px solid rgba(21,  21,  21,  .12);
     border-right:  1px solid rgba(21,  21,  21,  .12);
     cursor:  pointer;
     -webkit-transition:  box-shadow 200ms ease-in-out;
     transition:  box-shadow 200ms ease-in-out;
 }
 .day:last-child  {
     border-right:  none;
 }
 .day:hover  {
     background-color:  rgba(21,  21,  21,  0.012);
     box-shadow:  inset 0px 0px 4px rgba(21,  21,  21,  0.21);
 }
 .day-radios  {
     display:  none;
 }
 .day-radios:checked + .day  {
     background-color:  rgba(21,  21,  21,  0.012);
     box-shadow:  inset 0px 0px 4px rgba(21,  21,  21,  0.21);
 }
 .day > span  {
     width:  auto;
     font-size:  14px;
     color:  rgba(21,  21,  21,  0.84);
 }
 .day.diluted  {
     background-color:  rgba(21,  21,  21,  0.021);
     box-shadow:  inset 0px 0px 1px rgba(21,  21,  21,  0.12);
 }
 .day.diluted > span  {
     width:  auto;
     font-size:  10px;
     color:  rgba(21,  21,  21,  0.73);
 }
  .events  {
     width:  800px;
     height:  800px;
     font-family:  "Satellite",  "Roboto",  sans-serif;
     box-shadow:  0px 0px 4px rgba(21,  21,  21,  0.21);
     border:  1px solid rgba(21,  21,  21,  0.12);
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  vertical;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  column;
     flex-direction:  column;
     -ms-user-select:  none;
     user-select:  none;
     -moz-user-select:  none;
     -khtml-user-select:  none;
     -webkit-user-select:  none;
     -o-user-select:  none;
 }
 .events.small  {
     width:  400px;
     height:  400px;
 }
 .events.medium  {
     width:  600px;
     height:  600px;
 }
 .events.large  {
     width:  800px;
     height:  800px;
 }
 .date  {
     width:  calc(100% - 10px);
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
     background-color:  ' + this.calendar.colors[1] + ';
     color:  ' + this.calendar.colors[3] + ';
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     padding:  5px;
     font-size:  14px;
 }
 .date > span  {
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     text-transform:  uppercase;
 }
 .date > div  {
     cursor:  pointer;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
 }
 .rows  {
     width:  100%;
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  vertical;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  column;
     flex-direction:  column;
     overflow:  hidden !important;
 }
 .list  {
     width:  100%;
     -webkit-box-flex:  1;
     -ms-flex:  1;
     flex:  1;
     overflow-y:  auto !important;
     padding:  0;
     margin:  0;
     color:  rgba(21,  21,  21,  0.94);
 }
 .list > li  {
     width:  100%;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-orient:  horizontal;
     -webkit-box-direction:  normal;
     -ms-flex-direction:  row;
     flex-direction:  row;
     border-bottom:  1px solid rgba(21,  21,  21,  0.12);
 }
 .list > li:hover  {
     box-shadow:  inset 0px 0px 4px rgba(21,  21,  21,  0.21);
 }
 .list > li > div  {
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-flex:  2;
     -ms-flex:  2;
     flex:  2;
     -webkit-box-pack:  center;
     -ms-flex-pack:  center;
     justify-content:  center;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     padding:  10px;
     border-right:  1px solid rgba(21,  21,  21,  0.12);
 }
 .time  {
     font-size:  14px;
 }
 .m  {
     font-size:  14px;
     text-transform:  uppercase;
     padding-left:  5px;
 }
 .list > li > p  {
     -webkit-box-flex:  4;
     -ms-flex:  4;
     flex:  4;
     margin:  10px;
     display:  -webkit-box;
     display:  -ms-flexbox;
     display:  flex;
     -webkit-box-pack:  start;
     -ms-flex-pack:  start;
     justify-content:  flex-start;
     -webkit-box-align:  center;
     -ms-flex-align:  center;
     align-items:  center;
     -ms-flex-line-pack:  center;
     align-content:  center;
     font-size:  18px;
     word-wrap:  break-word;
     word-break:  break-word;
 }
